<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="PhpTravelsSuite" parallel="false">
  <test name="Registration">
    <classes>
      <class name="runner.RegistrationTestRunner"/>
    </classes>
  </test>

  <test name="FlightBooking">
    <classes>
      <class name="runner.FlightBookingTestRunner"/>
    </classes>
  </test>
</suite>


